table {
  width: 100%;
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
}

th {
  padding: 8px;
  text-align: left;
  background-color: #1C6EA4;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}

.box {
  margin: 30px;
  padding: 30px;
}
